{% extends 'layout.html' %}
{% block content %}
    <h1>Home!!</h1>

{% if current_user.is_authenticated %}
    {{ current_user.email }}
    <h1>Hi {{ current_user.username }}!</h1>
    <a href="{{url_for('logout')}}">
        <h1>Would you like to logout?</h1>
    </a>
{% else %}
    <a href="{{url_for('login')}}">
        <h1>Would you like to login?</h1>
    </a>
{% endif %}

<ul>
    <!-- Dictionaries in Jinja2 -->
    {% for field, list_of_errors in my_amazing_form.errors.items() %}
        <!-- https://stackabuse.com/flask-form-validation-with-flask-wtf/ -->
        <h2>{{ field }}</h2>
        {% for error in list_of_errors %}
            <li>
                {{ error }}
            </li>
        {% endfor %}
    {% endfor %}
</ul>

<form action="" method="post">
    {{ my_amazing_form.csrf_token }}
    <p>{{ my_amazing_form.username.label }}</p>
    <p>{{ my_amazing_form.username }}</p>
    <p>{{ my_amazing_form.email.label }}</p>
    <p>{{ my_amazing_form.email }}</p>
    <p>{{ my_amazing_form.password.label }}</p>
    <p>{{ my_amazing_form.password }}</p>
    <p>{{ my_amazing_form.confirm_password.label }}</p>
    <p>{{ my_amazing_form.confirm_password }}</p>
    <p>{{ my_amazing_form.submit_button }}</p>
</form>

{% if new_var %}
<h2>New User added: {{ new_var }}</h2>
{% endif %}

<h1>**************************</h1>
<h1>ALL USERS</h1>

{% for user in list_of_users %}
    <p>{{ user.username }}</p>
{% endfor %}

{% endblock content %}